<!-- Column -->

<div class="col-lg-12 cont">
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="d-flex">
            <div>
              <h4 class="card-title">
                <span class="lstick"></span>Medio de transporte
              </h4>
            </div>
          </div>
          <div>
            <div>
              <input type="radio" class="check" id="minimal-radio-11" name="minimal-radio">
              <label for="minimal-radio-11">Avión</label>
            </div>
            <div>
              <input type="radio" class="check" id="minimal-radio-12" name="minimal-radio">
              <label for="minimal-radio-12">Micro</label>
            </div>
            <div>
              <input type="radio" class="check" id="minimal-radio-13" name="minimal-radio">
              <label for="minimal-radio-13">Dedo</label>
            </div>
            <div>
              <input type="radio" class="check" id="minimal-radio-14" name="minimal-radio">
              <label for="minimal-radio-14">El auto de Tincho</label>
            </div>
            <div class="col-lg-12">
              <div class="pull-right">
                <button type="button" class="btn btn-sm waves-effect waves-light btn-outline-info margin-10 " data-toggle="modal">Votar</button>
              </div>
              <div class="pull-right">
                <button type="button" class="btn btn-sm waves-effect waves-light btn-outline-info margin-10" data-toggle="modal">Agregar opción</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="d-flex">
            <div>
              <h4 class="card-title">
                <span class="lstick"></span>Actividad día 3
              </h4>
            </div>
          </div>
          <div>
            <input type="radio" class="check" id="minimal-radio-21" name="minimal-radio">
            <label for="minimal-radio-21">Pesca</label>
          </div>
          <div>
            <input type="radio" class="check" id="minimal-radio-22" name="minimal-radio">
            <label for="minimal-radio-22">Canoa</label>
          </div>
          <div>
            <input type="radio" class="check" id="minimal-radio-23" name="minimal-radio">
            <label for="minimal-radio-23">Escalar montaña</label>
          </div>
          <div>
            <input type="radio" class="check" id="minimal-radio-24" name="minimal-radio">
            <label for="minimal-radio-24">Nadar en lago</label>
          </div>
          <div class="col-lg-12">
              <div class="pull-right">
                  <button type="button" class="btn btn-sm waves-effect waves-light btn-outline-info margin-10 " data-toggle="modal">Votar</button>
                </div>
                <div class="pull-right">
                  <button type="button" class="btn btn-sm waves-effect waves-light btn-outline-info margin-10" data-toggle="modal">Agregar opción</button>
                </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="d-flex">
            <div>
              <h4 class="card-title">
                <span class="lstick"></span>Ubicación final
              </h4>
            </div>
          </div>
          <div>
            <div>
              <input type="radio" class="check" id="minimal-radio-11" name="minimal-radio">
              <label for="minimal-radio-11">Bariloche</label>
            </div>
            <div>
              <input type="radio" class="check" id="minimal-radio-12" name="minimal-radio">
              <label for="minimal-radio-12">San Martín de los Andes</label>
            </div>
            <div>
              <input type="radio" class="check" id="minimal-radio-13" name="minimal-radio">
              <label for="minimal-radio-13">Ushuaia</label>
            </div>
            <div>
              <input type="radio" class="check" id="minimal-radio-14" name="minimal-radio">
              <label for="minimal-radio-14">Puerto Madryn</label>
            </div>
            <div class="col-lg-12">
                <div class="pull-right">
                    <button type="button" class="btn btn-sm waves-effect waves-light btn-outline-info margin-10 " data-toggle="modal">Votar</button>
                  </div>
                  <div class="pull-right">
                    <button type="button" class="btn btn-sm waves-effect waves-light btn-outline-info margin-10" data-toggle="modal">Agregar opción</button>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="d-flex">
            <div>
              <h4 class="card-title">
                <span class="lstick"></span>Actividad día 4
              </h4>
            </div>
          </div>
          <div>
            <input type="radio" class="check" id="minimal-radio-21" name="minimal-radio">
            <label for="minimal-radio-21">Pesca</label>
          </div>
          <div>
            <input type="radio" class="check" id="minimal-radio-22" name="minimal-radio">
            <label for="minimal-radio-22">Canoa</label>
          </div>
          <div>
            <input type="radio" class="check" id="minimal-radio-23" name="minimal-radio">
            <label for="minimal-radio-23">Escalar montaña</label>
          </div>
          <div>
            <input type="radio" class="check" id="minimal-radio-24" name="minimal-radio">
            <label for="minimal-radio-24">Nadar en lago</label>
          </div>
          <div class="col-lg-12">
              <div class="pull-right">
                  <button type="button" class="btn btn-sm waves-effect waves-light btn-outline-info margin-10 " data-toggle="modal">Votar</button>
                </div>
                <div class="pull-right">
                  <button type="button" class="btn btn-sm waves-effect waves-light btn-outline-info margin-10" data-toggle="modal">Agregar opción</button>
                </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-12">
      <div class="pull-right">
        <button type="button" class="btn btn-info  margin-10" data-toggle="modal">Ver resultados</button>
      </div>
      <div class="pull-right">
        <button type="button" class="btn btn-primary  margin-10" data-toggle="modal">Crear encuesta</button>
      </div>
    </div>
  </div>
</div>