<!-- Column -->
<div class="col-lg-7 col-xlg-9 col-md-6 b-l p-l-0">
  <ul class="product-review">
    <li>
      <font class="text-muted display-5"
        ><i class="mdi mdi-emoticon-cool"></i
      ></font>
      <span>
        <h3 class="card-title">Positive Reviews</h3>
        <h6 class="card-subtitle">25547 Reviews</h6>
      </span>
      <div class="progress">
        <div
          class="progress-bar bg-success"
          role="progressbar"
          style="width: 65%; height:6px;"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </li>
    <li>
      <font class="text-muted display-5"
        ><i class="mdi mdi-emoticon-sad"></i
      ></font>
      <span>
        <h3 class="card-title">Negative Reviews</h3>
        <h6 class="card-subtitle">5478 Reviews</h6>
      </span>
      <div class="progress">
        <div
          class="progress-bar bg-danger"
          role="progressbar"
          style="width: 15%; height:6px;"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </li>
    <li>
      <font class="text-muted display-5"
        ><i class="mdi mdi-emoticon-neutral"></i
      ></font>
      <span>
        <h3 class="card-title">Neutral Reviews</h3>
        <h6 class="card-subtitle">457 Reviews</h6>
      </span>
      <div class="progress">
        <div
          class="progress-bar bg-primary"
          role="progressbar"
          style="width: 35%; height:6px;"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </li>
  </ul>
</div>
<!-- Column -->
