<div class="row page-titles">
  <div class="col-md-5 align-self-center">
    <h3 class="text-themecolor">{{nombreGrupo}}</h3>
    <h6 class="text-themecolor">Número de grupo: {{idGrupo}}</h6>
  </div>
  <div class="col-md-7 align-self-center">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:void(0)">Grupos</a></li>
      <li class="breadcrumb-item">{{nombreGrupo}}</li>
    </ol>
  </div>
  <div>

  </div>
</div>
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<!-- Row -->
<div class="row">
  <!-- ============================================================== -->
  <!-- Administración de integrantes -->
  <!-- ============================================================== -->
  <!-- Card -->  
  <!--ACTIVIDADES-->
  <div class="col-lg-6 col-xlg-8 col-md-12">
    <app-actividades></app-actividades>    
  </div>  
    <!--FIN ACTIVIDADES-->    

  <div class="col-lg-6 col-xlg-4 col-md-12">
      <div class="card">
        <div class="card-body">
          <!--
            button type="button" class="btn waves-effect waves-light btn-info pull-right"><i class="ti-plus text active" aria-hidden="true"></i></button>
          -->
          <div class="btn-group ml-auto m-t-10 pull-right">
            <a
              href="JavaScript:void(0)"
              class="icon-options-vertical link"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            ></a>
            <div class="dropdown-menu dropdown-menu-right">
              <a disabled class="dropdown-item" href="javascript:void(0)"
                >Agregar Miembro</a
              >
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="dejarGrupo()"
                >Abandonar el grupo</a>
            </div>
          </div>
          <h4 class="card-title">Integrantes</h4>
          <div class="table-responsive m-t-40">
            <table class="table stylish-table">
              <thead>
                <tr>
                  <th colspan="2">Usuario</th>
                  <th>Apodo</th>
                  <th>Rol</th>
                  <!-- <th>Eliminar</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let miembro of integrantes;let i=index" class="active">
                  <td style="width:50px;">                    
                    <span *ngIf="i==0 || i==5 || i==10 || i==15 || i==20 || i==25" class="round">{{miembro.userName[0]}}</span>
                    <span *ngIf="i==1 || i==6 || i==11 || i==16 || i==21 || i==26" class="round round-success">{{miembro.userName[0]}}</span>
                    <span *ngIf="i==2 || i==7 || i==12 || i==17 || i==22 || i==27" class="round round-primary">{{miembro.userName[0]}}</span>
                    <span *ngIf="i==3 || i==8 || i==13 || i==18 || i==23 || i==28" class="round round-warning">{{miembro.userName[0]}}</span>
                    <span *ngIf="i==4 || i==9 || i==14 || i==19 || i==24 || i==29" class="round round-danger">{{miembro.userName[0]}}</span> 
                  </td>
                  <td>
                    <h6>{{miembro.nickName}}</h6>
                    <small class="text-muted">{{miembro.email}}</small>
                  </td>
                  <td>{{miembro.userName}}</td>
                  <td><span class="label label-light-success">Miembro</span></td>
                <!-- Eliminar boton -->
                  <!-- <td>
                    <button
                      type="button"
                      class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn"
                      data-toggle="tooltip"
                      data-original-title="Delete"
                    >
                      <i class="ti-close" aria-hidden="true"></i>
                    </button>
                  </td> -->
                </tr>                     
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>  
</div>

<!-- ============================================================== -->
<!-- End Right sidebar -->
<!-- ============================================================== -->

<!-- FOOTER -->
<footer class="footer">© 2018 Travlr</footer>
<!-- END FOOTER -->

