<!--div id="main-wrapper">
<app-header></app-header>
<app-sidebar></app-sidebar>
<router-outlet></router-outlet-->


<div id="main-wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="page-wrapper">
      <div class="container-fluid">
        <!--breadcrums></breadcrums-->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <router-outlet></router-outlet>      
        <!-- <app-calendar></app-calendar> -->
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
      </div>
    </div>
  </div>