<div class="col-lg-12 monto-box">
  <div class="row">
    <h5 class="text-monto-1"> Monto actual: </h5><h4 class="text-monto">${{monto.fondoComun.monto}}</h4>
  </div>
</div>

<div class="col-lg-12">
  <div class="pull-right">
    <button type="button" class="btn btn-sm waves-effect waves-light btn-outline-info margin-top-30" data-toggle="modal"
      data-target="#modelRegistrarEgreso">Registrar egreso</button>
  </div>
  <div class="pull-right">
    <button type="button" class="btn btn-sm waves-effect waves-light btn-outline-info margin-top-30" data-toggle="modal"
      data-target="#modelRegistrarIngreso">Registrar ingreso</button>
  </div>
</div>

<!-- MODAL INGRESO -->
<div class="modal fade" id="modelRegistrarIngreso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel1">Ingresos</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="ingresar(f.value)">
          <div class="form-group">
            <label for="recipient-name" class="control-label">Monto a ingresar:</label>
            <input type="number" name="monto" class="form-control" id="monto" ngModel required>
          </div>
          <div class="modal-footer">
            <button id="cancelar2" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            <button type="button submit" class="btn btn-info">Confirmar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- FIN MODAL INGRESO -->

<!-- MODAL EGRESO -->
<div class="modal fade" id="modelRegistrarEgreso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel1">Egresos</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form #n="ngForm" (ngSubmit)="egresar(n.value)">
          <div class="form-group">
            <label for="recipient-name" class="control-label">Monto a egresar:</label>
            <input type="number" name="monto" class="form-control" id="monto" ngModel required>
          </div>
          <div class="modal-footer">
            <button id="cancelar" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            <button type="button submit" class="btn btn-info">Confirmar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- FIN MODAL EGRESO -->