<div class="row page-titles">
  <div class="col-md-5 align-self-center">
    <h3 class="text-themecolor">Grupos De Viaje</h3>
  </div>
  <div class="col-md-7 align-self-center">
    <!-- <button type="button" class="btn waves-effect waves-light btn-outline-primary pull-right" (click)="unirse()">Unirse</button>
    <button type="button" class="btn waves-effect waves-light btn-outline-primary pull-right">Crear</button> -->
    <div class="button-box">
      <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#nuevo" data-whatever="@fat">Nuevo</button>
      <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#unirse" data-whatever="@mdo">Unirse</button>
    </div>
  </div>
</div>
<div class="row">
  <div *ngFor="let grupo of gruposDetalle" class="col-lg-6 col-md-12 cont" (click)="detalle(grupo.grupoID)">
    <div class="card">
      <div class="card-body">
        <div class="">
          <div>
              <button type="button" class="btn ml-auto btn-sm btn-info btn-rounded pull-right"> Entrar</button>
            <h4 class="card-title">
              <span class="lstick"></span>{{grupo.nombreGrupo}}
            </h4>
          </div>
        </div>
        <div class="table-responsive m-t-20">
          <table class="table vm no-th-brd pro-of-month">
            <thead>
              <tr>
                <th colspan="2">Usuario</th>
                <th>Apodo</th>
                <th>Rol</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of grupo.usuarios;let i=index">
                <td>
                  <span *ngIf="i==0 || i==5 || i==10 || i==15 || i==20 || i==25" class="round">{{usuario.userName[0]}}</span>
                  <span *ngIf="i==1 || i==6 || i==11 || i==16 || i==21 || i==26" class="round round-success">{{usuario.userName[0]}}</span>
                  <span *ngIf="i==2 || i==7 || i==12 || i==17 || i==22 || i==27" class="round round-primary">{{usuario.userName[0]}}</span>
                  <span *ngIf="i==3 || i==8 || i==13 || i==18 || i==23 || i==28" class="round round-warning">{{usuario.userName[0]}}</span>
                  <span *ngIf="i==4 || i==9 || i==14 || i==19 || i==24 || i==29" class="round round-danger">{{usuario.userName[0]}}</span>
                </td>
                <td>
                  <h6>{{usuario.userName}}</h6>
                  <small class="text-muted">{{usuario.email}}</small>
                </td>
                <td>{{usuario.nickName}}</td>
                <td>
                  <span class="label label-success label-rounded">Miembro</span>
                </td>
              </tr>
              <!-- <tr class="active">
                <td>
                  <span class="round"
                    ><img
                      src="../assets/images/users/2.jpg"
                      alt="user"
                      width="50"
                  /></span>
                </td>
                <td>
                  <h6>Andrew</h6>
                  <small class="text-muted">Project Manager</small>
                </td>
                <td>Real Homes</td>
                <td>
                  <span class="label label-info label-rounded">Medium</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="round round-success"
                    ><img
                      src="../assets/images/users/3.jpg"
                      alt="user"
                      width="50"
                  /></span>
                </td>
                <td>
                  <h6>Bhavesh patel</h6>
                  <small class="text-muted">Developer</small>
                </td>
                <td>MedicalPro Theme</td>
                <td>
                  <span class="label label-primary label-rounded">High</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="round round-primary"
                    ><img
                      src="../assets/images/users/4.jpg"
                      alt="user"
                      width="50"
                  /></span>
                </td>
                <td>
                  <h6>Nirav Joshi</h6>
                  <small class="text-muted">Frontend Eng</small>
                </td>
                <td>Elite Admin</td>
                <td>
                  <span class="label label-danger label-rounded">Low</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="round round-warning"
                    ><img
                      src="../assets/images/users/5.jpg"
                      alt="user"
                      width="50"
                  /></span>
                </td>
                <td>
                  <h6>Micheal Doe</h6>
                  <small class="text-muted">Content Writer</small>
                </td>
                <td>Helping Hands</td>
                <td>
                  <span class="label label-success label-rounded">High</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="round round-danger"
                    ><img
                      src="../assets/images/users/6.jpg"
                      alt="user"
                      width="50"
                  /></span>
                </td>
                <td>
                  <h6>Johnathan</h6>
                  <small class="text-muted">Graphic</small>
                </td>
                <td>Digital Agency</td>
                <td>
                  <span class="label label-info label-rounded">High</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="round round-primary"
                    ><img
                      src="../assets/images/users/4.jpg"
                      alt="user"
                      width="50"
                  /></span>
                </td>
                <td>
                  <h6>Nirav Joshi</h6>
                  <small class="text-muted">Frontend Eng</small>
                </td>
                <td>Elite Admin</td>
                <td>
                  <span class="label label-danger label-rounded">Low</span>
                </td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!--div class="col-lg-12 col-xlg-6">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Button with outline</h4>
            <h6 class="card-subtitle">Use a classes <code>btn btn-outline-success</code> to quickly create a General btn.</h6>
            <div class="button-group">
                <button type="button" class="btn waves-effect waves-light btn-outline-primary">Primary</button>
                <button type="button" class="btn waves-effect waves-light btn-outline-secondary">Secondary</button>
                <button type="button" class="btn waves-effect waves-light btn-outline-success">Success</button>
                <button type="button" class="btn waves-effect waves-light btn-outline-info">Info</button>
                <button type="button" class="btn waves-effect waves-light btn-outline-warning">Warning</button>
                <button type="button" class="btn waves-effect waves-light btn-outline-danger">Danger</button>
            </div>
        </div>
    </div>
  </div>
  <div class="col-lg-12 col-xlg-6">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Rounded Buttons</h4>
            <h6 class="card-subtitle">Use a classes <code>btn btn-rounded btn-success</code> to quickly create a General btn.</h6>
            <div class="button-group">
                <button type="button" class="btn waves-effect waves-light btn-rounded btn-primary">Primary</button>
                <button type="button" class="btn waves-effect waves-light btn-rounded btn-secondary">Secondary</button>
                <button type="button" class="btn waves-effect waves-light btn-rounded btn-success">Success</button>
                <button type="button" class="btn waves-effect waves-light btn-rounded btn-info">Info</button>
                <button type="button" class="btn waves-effect waves-light btn-rounded btn-warning">Warning</button>
                <button type="button" class="btn waves-effect waves-light btn-rounded btn-danger">Danger</button>
            </div>
        </div>
    </div>
   </div-->
</div>



<!-- MODAL -->

<!-- <div class="col-md-4">
  <div class="card">
      <div class="card-body">
          <h4 class="card-title">Modal based on trigger button</h4> -->
<!-- sample modal content -->
<!-- <div class="button-box">
              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#nuevo" data-whatever="@fat">Nuevo</button> 
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#unirse" data-whatever="@mdo">Unirse</button>                     
          </div> -->

<!-- MODAL UNIRSE A UN GRUPO -->
<div class="modal fade" id="unirse" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel1">Unirse a un grupo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form #n="ngForm" (ngSubmit)="unirse(n.value)">
          <div class="form-group">
            <label for="recipient-name" class="control-label">ID de grupo:</label>
            <input type="number" name="idGrupo" class="form-control" id="idGrupo" ngModel required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            <button type="button submit" class="btn btn-info">Confirmar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- FIN MODAL UNIRSE A UN GRUPO -->

<!-- MODAL CREAR GRUPO -->
<div class="modal fade" id="nuevo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel1">Nuevo Grupo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="nuevo(f.value)">
          <div class="form-group">
            <label for="recipient-name" class="control-label">Nombre de grupo:</label>
            <input type="text" name="nombre" class="form-control" id="nombre" ngModel required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            <button type="button submit" class="btn btn-info">Confirmar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- FIN MODAL CREAR GRUPO -->

<!-- /.modal -->
<!-- </div>
  </div>
</div> -->

<!-- FIN MODAL -->




<!-- footer -->
<!-- ============================================================== -->
<footer class="footer">© 2018 Travlr</footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->